#inNumbers {
  padding: 40px 0;
}
#inNumbers ul {
  display: table;
}
#inNumbers ul li {
  background: url(../svg/sectors.svg) no-repeat center center;
  display: table-cell;
  height:154px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width:25%;
}
#inNumbers ul > :nth-child(n):not(:first-child) :before {
  content: ' ';
  background: url(../svg/point5px.svg) no-repeat center center;
  display: table-cell;
  height: 7px;
  left:-3px;
  padding-bottom: 20px;
  position: absolute;
  width: 7px;
}
#inNumbers h5 {
  color: #132E44;
  font-size: 13px;
}
#inNumbers h6 {
  color: white;
  font-size: 23px;
  font-weight: bold;
  text-shadow: 0 0 3px black;
}