/* @import url(https://fonts.googleapis.com/css?family=Roboto+Flex);
src: url(https://fonts.gstatic.com/s/robotoflex/v9/NaN4epOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGfttPZktqc2VdZ80KvCLZaPcSBZtOx2MifRuWR28sPJtUMbsFEK6cRrleUx9Xgbm3WLHa_F4Ep4Fm0PN19Ik5Dntczx0wZGzhPlL1YNMYKbv9_1IQXOw7AiUJVXpRJ6cXW4O8TNGoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNYG0EACUTNK-QKavMlx2K4Ua5-LkjMyyFv8.woff) format('woff');



@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;

	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  } */

/* jet brains  */

body {
	/* font-family: sans-serif; */
	font-family: 'Roboto Flex';
}
embed {
	width: 100%;
	margin: 0;
	padding: 0;
}
.inner {
	border: 1px solid red;
	padding: 12px;
}