mixin aside
	+e.sidebar
		+section({
			"sidebar": [
				{
					"h5": "H5 lorem, ipsum.",
					"h2": "h2-1 Corrupti esse voluptas reiciendis?"
				},{
					"h5": "h5 Lorem, ipsum.",
					"h2": "h2-2 Corrupti esse voluptas reiciendis?"
				},{
					"h5": "h5 Lorem, ipsum.",
					"h2": "h2-3 Corrupti esse voluptas reiciendis?"
				}
			]
		})