* {
	padding: 0;
	margin: 0;
}
button {
	padding: 20px;
	background: #fff;
}
.section-symbol {
	border: 1px solid red
}

.container {
	background: #393939;
	max-width: 700px;
	margin: 100px auto;
	padding: 80px;
}