<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ASOS - Shop the new range of men's clothes</title>
    <meta charset="utf-8"/>
    <meta content="igor@mosijchuck" name="author"/>
    <meta content="Discover the latest trends in men's fashion and style with ASOS. Shop the range of clothes, accessories, shoes, bags and more." name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <div class="template-grid">
    <div>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
      </ul>
    </div>
  </div>
  <body>
    <div class="container">
      <div class="container__main">
      </div>
    </div>
  </body>
</html>