<!DOCTYPE html>
<html>
<head>
  <link href="img/logo16.png" rel="icon">
  <title>VALUE Garden Supply</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
  <!--script src="js/*.js" type="text/javascript"></script-->
</head>
<body>
	<header>
		<div class="row">
			<a href="#" title="Value Garden Supply">
				<img src="img/Logo.png" alt="Logo">
			</a>
			<nav>
				<p>
					<em></em>
					free shipping on all orders extended to july 31
				</p>
				<ul class="account">
					<li><a href="">My Account</a></li>
					<li><a href="">Track Order</a></li>
					<li><a href="">Wishlist</a></li>
					<li><a href="">Sign Out</a></li>
				</ul>
				<ul class="mainMenu">
					<li><a href="#">Products</a></li>
					<li><a href="#">Buyer's Guide</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Your Cart<span>4</span></a></li>
				</ul>
				<form action="post" class="">
					<input role="search" type="" name="search" placeholder="Search Gostgro ...">
					<em></em>
				</form>
			</nav>
		</div>
	</header>
	<div id="mainContainer">
		<div class="row wrapper">
			<div class="tagline">
				<h1>
				Latest Blog Post
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<form>
					<!-- <button name="" type="submit" value="MAIN BUTTON"></button> -->
					<a href="">MAIN BUTTON</a>
				</form>
			</div>
			<div class="contentMainPage">
				<div class="sidebar">
					<ul>
						<h3>categories</h3>
						<li><a href="#">category 1</a></li>
						<li><a href="#">category 2</a></li>
						<li><a href="#">category 3</a></li>
					</ul>
					<ul>
						<h3>archives</h3>
						<li><a href="#">july 2013</a></li>
						<li><a href="#">june 2013</a></li>
						<li><a href="#">may 2013</a></li>
					</ul>
					<ul>
						<h3>follow us</h3>
						<li><a href="#facebook.com"><em></em>facebook</a></li>
						<li><a href="#pinterest"><em></em>pinterest</a></li>
						<li><a href="#instagram"><em></em>instagram</a></li>
						<li><a href="#twitter"><em></em>twitter</a></li>
						<li><a href="#RSS"><em></em>RSS feed</a></li>
					</ul>
					<h3>join newsletter</h3>
					<form>
						<input type="email" name="yourEmail" placeholder="Enter Your Email">
						<em></em>
					</form>
				</div>
				<div id="blocks">
					<h3>latest posts</h3>
					<div class="post">
						<img src="img/postImage.png" alt="image">
						<h2>New Laws In Washington</h2>
						<em>3</em>
						<q>July 12, 2013</q>
						<q>Joe Shmoe</q>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...<a href="#">Read More</a></p>
					</div>
					<div class="post">
						<img src="img/postImage.png" alt="image">
						<h2>New Laws In Washington</h2>
						<em>3</em>
						<q><em></em>July 12, 2013</q>
						<q><em></em>Joe Shmoe</q>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...<a href="#">Read More</a></p>
					</div>
					<div class="post">
						<img src="img/postImage.png" alt="image">
						<h2>New Laws In Washington</h2>
						<em>3</em>
						<q><em></em>July 12, 2013</q>
						<q><em></em>Joe Shmoe</q>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...<a href="#">Read More</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<ol>
				<h3>customer service</h3>
				<ul>
					<li><a href="#">Track Order</a></li>
					<li><a href="#">Shipping Policy</a></li>
					<li><a href="#">No-Hassle Return Policy</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Company Info</a></li>
					<li><a href="#">Customer Testimonials</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Sitemap</a></li>
				</ul>
			</ol>
			<ol>
				<h3>shop costgro</h3>
				<ul>
					<li><a href="#">Air / HVAC</a></li>
					<li><a href="#">Controllers, Timers & Meters</a></li>
					<li><a href="#">Grow Media</a></li>
					<li><a href="#">Grow Systems</a></li>
					<li><a href="#">Grow Tents</a></li>
					<li><a href="#">Lighting</a></li>
					<li><a href="#">Nutrients</a></li>
					<li><a href="#">Pest & Disease Control</a></li>
					<li><a href="#">pH / TDS Solutions & Meters</a></li>
					<li><a href="#">Pots & Containers</a></li>
					<li><a href="#">Propagation</a></li>
					<li><a href="#">Tools & Accessories</a></li>
					<li><a href="#">Grow Trays, Reservoirs & Stands</a></li>
					<li><a href="#">Water</a></li>
				</ul>
			</ol>
			<ol>
				<h3>follow costgro</h3>
				<ul>
					<li><a href="#facebook"><em></em>facebook</a></li>
					<li><a href="#pinterest"><em></em>pinterest</a></li>
					<li><a href="#instagram"><em></em>instagram</a></li>
					<li><a href="#twitter"><em></em>twitter</a></li>
				</ul>
				<h3>search costgro</h3>
				<form action="post" class="">
					<input role="search" type="" name="search" placeholder="Start search...">
					<em></em>
				</form>
			</ol>
		</div>
	</footer>
</body>
</html>