html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

a, button {
  cursor: pointer; }

a {
  text-decoration: none; }

button {
  border: 0;
  padding: 0;
  outline: 0; }

@font-face {
  font-family: 'FuturaNew';
  src: url("../fonts/FuturaNewBook.otf");
  font-weight: 100; }

@font-face {
  font-family: 'FuturaNew';
  src: url("../fonts/FuturaNewDemi.otf");
  font-weight: 600; }

@font-face {
  font-family: 'FuturaNew';
  src: url("../fonts/FuturaNewHeavy.otf");
  font-weight: 800; }

@font-face {
  font-family: 'FuturaNew';
  src: url("../fonts/FuturaNewBold.otf");
  font-weight: 700; }

@font-face {
  font-family: 'FuturaNew';
  src: url("../fonts/FuturaNewExtraBold.otf");
  font-weight: 900; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.otf");
  font-weight: 800; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-weight: 600; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: 400; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: 300; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.otf");
  font-weight: 200; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.otf");
  font-weight: 100; }

/* "sass/04-grid" */
.template-grid {
  width: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0; }
  .template-grid div {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px; }
    @media screen and (max-width: 960px) {
      .template-grid div {
        justify-content: center; } }
    .template-grid div ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: -50px;
      margin-right: -50px;
      background: rgba(110, 219, 255, 0.5); }
      .template-grid div ul li {
        background: rgba(80, 170, 200, 0.5);
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 50px;
        margin-right: 50px;
        width: calc(25% - 100px);
        height: 100vh; }
        @media screen and (max-width: 960px) {
          .template-grid div ul li {
            width: calc(50% - 100px); } }
        @media screen and (max-width: 780px) {
          .template-grid div ul li {
            width: calc(75% - 100px); } }
        @media screen and (max-width: 480px) {
          .template-grid div ul li {
            width: calc(100% - 100px); } }

html {
  color: #151515; }

body {
  background: #B4B7BF;
  font-family: "FuturaNew", sans-serif; }

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px; }

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0 45px 35px -20px rgba(51, 55, 66, 0.5);
  background-image: radial-gradient(circle at 81% 0, rgba(53, 58, 91, 0), rgba(72, 82, 99, 0.2)), linear-gradient(to bottom, #f8f8f8, #f8f8f8); }
  .container > * {
    padding: 50px;
    box-sizing: content-box; }
  .container__sidebar {
    background: #fff;
    width: calc(50% - 100px); }
  .container__main {
    width: calc(50% - 100px); }

.color--white {
  color: #fff; }

.color--light {
  color: #9ea5bc; }

h4, h5, h6 {
  font-size: 12px; }

h4, h5, h6 {
  letter-spacing: 1.1px; }

h1, h2, h3, h4, h5, h6 {
  font: 600 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

h1 {
  font-size: 52px;
  font-weight: 400; }

h2 {
  font-size: 30px;
  font-weight: 500; }

h3 {
  font-size: 16px;
  letter-spacing: 0.6px; }

h5 {
  color: #9ea5bc; }

button {
  padding: 12px 36px;
  border: 0.1px solid #9ea5bc; }

/*- "aside/aside" */
