.aboutQuality {
  background: transparent;
}
.aboutQuality ul {
  padding: 38px 7px 58px 7px;
  font-size: 16px;
  text-align: center;
  border-spacing: 27px 0;
  margin: 0 -27px;
}
.aboutQuality>ul>li {
  display: table-cell;
  padding-bottom: 32px;
  width: 33.33%;
}
.aboutQuality>ul>li h4,
.aboutQuality>ul>li {
  border-bottom: 1px dashed #2E324F;
}
.aboutQuality ul>li>* {
  box-sizing: border-box;
}
.aboutQuality li h4 {
  color: #2E3150;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 24px 0;
  text-transform: uppercase;
}
.aboutQuality q {
  display: table;
  padding: 6px 13px;
  width: 100%;
}
.aboutQuality q::before,
.aboutQuality q::after {
  background: url(../svg/quotes.svg) no-repeat center, transparent;
  background-size: 20px 16px;
  box-sizing: border-box;
  width: 18%;
}
.aboutQuality q::before,
.aboutQuality q::after,
.aboutQuality em {
  display: table-cell;
}
.aboutQuality q::after {transform: scale(-1)}
.aboutQuality em {
  color: #55CBD9;
}
.aboutQuality q+p {
  color: #5B5C61;
  font-weight: 100;
  font-style: italic;
  padding: 6px 13px;
}
/*------------------------------------*/
.qualityMark ul {
  border-spacing: 0px;
  display: table;
  margin: 0 auto;
  min-width: 340px;
  padding: 0;
  width: 90%;
}
.qualityMark ul li {
  box-sizing: border-box;
  display: table;
  float: left;
  line-height: 0;
  width: 50%;
  position: relative;
}
.qualityMark ul>:nth-child(2n+1) {
  text-align: right;
}
.qualityMark ul>:nth-child(2n+2) {
  text-align: left;
}
img[src*="quality"] {
  border-radius: 3px;
  border: 1px solid #D7D9D8;
  box-sizing: border-box;
  margin: 5px;
  max-height: 120px;
  max-width: 120px;
  min-height: 120px;
  min-width: 120px;
  padding: 10px;
}
/*----------------------------------------*/
.cards {
  border-spacing: 0 4px;
  display: table;
  margin: 12px auto;
}
.cards > :nth-child(5n) {
  margin-left: 4px !important;
}
.cards > :nth-child(5n+6) {
  clear: both;
}
.cards img {
  box-sizing: border-box;
  float: left;
  line-height: 0;
  margin: 2px 3px !important;
  width: 50px;
}
/*
-webkit-
  box-sizing: border-box;














