* {
	margin: 0;
	outline: 0;
}

[data-fancybox-close] {
	display: none;
	visibility: hidden;
}

@font-face {
	font-family: "Onest";
	font-display: swap;
	src: url("../fonts/onest-4-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Onest";
	font-display: swap;
	src: url("../fonts/onest-7-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

body {
	height: 100vh;
	font-family: "Onest", sans-serif;
	color: #a7b7c6;
	font-weight: 400;
	background: #2E3944;

}

h1 {
	color: #e9eff5;
	font-weight: 700;
}

.main-cont {
	max-width: 1024px;
	padding: 40px 80px;
	margin: 0 auto;
}



.fancybox__toolbar__column button,
.fancybox__nav button:focus {
	--f-button-color: transparent;
	color: #fff;
}

.fancybox__container {
	--fancybox-bg: rgba(46, 57, 68, 1);
}

.fancybox__toolbar {
	--f-button-bg: rgba(46, 57, 68, 0);
}

.f-thumbs__slide,
.f-thumbs__slide.for-image {
	opacity: 0.3
}

.f-thumbs__slide.is-nav-selected,
.f-thumbs__slide.for-image.is-nav-selected {
	opacity: 1
}

#presentation {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	/* padding: 40px 80px; */

}

#presentation .f-carousel__slide {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.is-horizontal .f-carousel__nav .f-button {
	color: white;
	background: hsla(210, 14%, 11%, .3);
	transition: 0.2s cubic-bezier(.165, .84, .44, 1);
}

.fancybox__toolbar__column .f-button:hover:not([disabled]),
.is-horizontal .f-carousel__nav .f-button:hover {

	background: hsla(210, 14%, 11%, .6);
}

.fancybox__toolbar__column .f-button {
	overflow: hidden;
}

.fancybox__toolbar__column .f-button,
.fancybox__nav .f-button,
.is-horizontal .f-carousel__nav .f-button,
.f-thumbs__track .f-thumbs__slide,
.f-thumbs__slide {
	border-radius: 5px !important;
}



[data-panzoom-action="iterateZoom"] {
	display: none;
}

.f-thumbs.fancybox__thumbs {
	z-index: 100;
}

.fancybox__toolbar__column.is-right {
	margin-left: -3px !important;
	margin-right: -3px !important;
}

.fancybox__toolbar__column.is-right button {
	margin: 3px !important;
}




.f-carousel__viewport {
	margin-bottom: 40px;
}


.fancybox__toolbar__column [data-fancybox-toggle-fullscreen] {
	order: 3;
}

.fancybox__toolbar__column [data-fancybox-toggle-slideshow] {
	order: 2;
}

.fancybox__toolbar__column [data-fancybox-toggle-thumbs] {
	order: 1;
}

.title {
	padding: 6px 12px;

}

.title h3 {
	font-size: 18px;
	padding-top: 9px;

}

.title p {
	font-size: 14px;
}

.f-thumbs__slide {
	--f-thumb-width: 112px;
	--f-thumb-height: 63px;
}

.f-carousel__thumbs.is-modern {
	--f-thumb-gap: 4px !important;
	--f-thumb-extra-gap: 8px !important;
	--f-thumb-clip-width: 60px !important;
}

.is-compact .fancybox__thumbs {
	--f-thumb-clip-width: 48px;
	--f-thumb-extra-gap: 32px;
}

.f-button {
	--f-button-width: 48px;
	--f-button-height: 48px;
}

@media screen and (max-width: 768px) {
	.main-cont {
		padding: 20px 40px;
	}

	.title p {
		display: none;
	}

	.f-thumbs__slide {
		--f-thumb-width: 64px;
		/* 80 */
		--f-thumb-height: 36px;
		/* 48 */
	}

	.is-compact .fancybox__thumbs {
		--f-thumb-clip-width: 40px;
		--f-thumb-extra-gap: 8px;
	}

	.f-carousel__thumbs.is-modern {
		--f-thumb-gap: 4px !important;
		--f-thumb-extra-gap: 8px !important;
		--f-thumb-clip-width: 60px !important;
	}

	.f-button {
		--f-button-width: 32px;
		--f-button-height: 32px;
	}

	.fancybox__infobar,
	[data-fancybox-current-index],
	[data-fancybox-count] {
		font-size: 14px;
	}

}

@media screen and (max-width: 480px) {
	.main-cont {
		padding: 16px 32px;
	}

	.f-button {
		--f-button-width: 36px;
		--f-button-height: 36px;
	}

	.fancybox__infobar {
		padding-top: 4px;

	}

	.fancybox__infobar,
	[data-fancybox-current-index],
	[data-fancybox-count] {
		font-size: 12px;
	}

}

.fancybox__infobar,
.title p {
	color: #94a5b5;
}

.fancybox__infobar {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.fancybox__toolbar__column.is-right {
	padding-right: 12px
}

.fancybox__toolbar {
	position: relative;
}

.fancybox__toolbar button {
	background: hsla(210, 50%, 50%, .1);
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

.fancybox__toolbar {
	background: rgba(46, 57, 68, .2);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

.fancybox__content {
	overflow: hidden;
	box-shadow: 0 48px 60px -28px rgba(4, 13, 23, 0.5), 0 64px 80px -32px rgba(4, 13, 23, 0.5) !important;
}

/*
fancybox
fancybox__toolbar
f-thumbs
*/
.fancybox__toolbar.is-absolute,
.is-compact .fancybox__toolbar {
	position: static;
	top: unset;
	left: unset;
	right: unset;
}

.is-compact .fancybox__footer {
	position: static;
	bottom: unset;
	left: unset;
	right: unset;
	z-index: unset;
	background: transparent;
}


.fancybox__toolbar {
	/* --f-progress-color: hsla(210, 14%, 11%, .8); */
	--f-progress-color: hsla(210, 50%, 50%, .95);
}

.fancybox__toolbar button svg {
	z-index: 200;
}