include mixins
include debug-mixin

doctype html
html(lang="ru-RU")
	block head
		head
			+head({
					"title": "2019-09-17",
					"author": "igor",
					"description": "Discover the latest trends in men's fashion and style with ASOS. Shop the range of clothes, accessories, shoes, bags and more."
				})
	body

		#wrapper
			section
				#searcharea
					label(for="search")
						h3 search
						p Enter name or info about
					input(type="search" name="search" id="search" placeholder="name or info")
			section
				#update
			section.copyright © Necessitatibus nobis facere cumque.

		script(src="jquery.js")
		script(src="scripts.js")
		block debug