include mixins

doctype html
html(lang="ru-RU")

	block head
		head
			+head({
					"title": "Gulp 2019",
					"author": "igor",
					"description": "Discover the latest trends in men's fashion and style with ASOS. Shop the range of clothes, accessories, shoes, bags and more."
				})
	body

		.debug
			div
				div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
					div
		.wrapper
			#searcharea
				label(for="search") Live Search
				p Enter the name or info about a speaker
				input(type="search" name="search" id="search" placeholder="name or info")
			h1 Necessitatibus nobis facere cumque.

		#update
		script(src="jquery.js")
		script(src="script.js")