doctype html
html(lang='en') 
	//html(lang=en_EN)
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='author', content='')
		meta(name='description', content='')
		meta(name="viewport" content="width-device-width, initial-scale=1.0")
		link(rel='shortcut icon', href='../img/png/bag-logo16.png')
		title Головна — BAG
		link(rel="stylesheet" type='text/css' href="css/styles.css")
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE9 [if lt IE9] >
body
	#visual-grid-cols
		.div1
			i
		.div2
			i
		.div3
			i
		.div4
			i
		.div5
			i
		.div6
			i
		.div7
			i
		.div8
			i
		.div9
			i
		.div10
			i
		.div11
			i
		.div12
			i
	section.first-line
		p
			i
				include ../img/svg/place.svg
			a(href="#map") с. Гранітне, вул. Заводська, 15
		p.phones
			i
				include ../img/svg/phone.svg
			em Загальний
			a(href="#phone1") +38 (0362) 67-04-00

			em Відділ продажу
			a(href="#phone2") +38 (0362) 67-04-09

			em Відділ закупівель
			a(href="#phone3") +38 (0362) 67-04-08
		p.mail
			i
				include ../img/svg/letter.svg
			a(href="#mail") office@basalt-ag.com.ua
		p.lang
			select
				option DE
				option EN
				option RU
				option(selected) UA
	header
		a.logotype(href="/")
			img(src="../img/png/bag-logo.png")
		nav
			a(href="/") Головна
			a(href="/") Про компанію
			a(href="/") Продукція
			a(href="/") Технологія виробництва
			a(href="/") Контакти
	#slider
		input(type="radio" name="slides" id="slide1" checked)
		input(type="radio" name="slides" id="slide2")
		input(type="radio" name="slides" id="slide3")
		input(type="radio" name="slides" id="slide4")
		input(type="radio" name="slides" id="slide5")
		.bg-img
			label(for="slide5")
			label(for="slide4")
			label(for="slide3")
			label(for="slide2")
			label(for="slide1")
		.content
			.desc
				label(for="slide5")
					h4 This is a fivth
					p Lorem ipsum dolor sit amet, consectetur adipisicing.
				label(for="slide4")
					h4 This is a fourth
					p Lorem ipsum dolor sit amet, consectetur adipisicing.
				label(for="slide3")
					h4 This is a third header
					p Lorem ipsum dolor sit amet, consectetur adipisicing.
				label(for="slide2")
					h4 This is a second
					p Lorem ipsum dolor sit amet, consectetur adipisicing, sit amet, consectetur adipisicing elit. Fuga necessitatibus ab quaerat iure sint nostrum.
				label(for="slide1")
					h4 This is a first
					p Vel autem voluptas ipsam quae minima provident, illum ipsum dolor sint, placeat optio itaque natus unde magnam harum quam saepe.Vel autem voluptas ipsam quae minima provident, illum ipsum dolor sint, placeat optio itaque natus unde magnam harum quam saepe.
				.side-controls
					label(for="slide1")
					label(for="slide2")
					label(for="slide3")
					label(for="slide4")
					label(for="slide5")
				.controls
					label(for="slide1")
					label(for="slide2")
					label(for="slide3")
					label(for="slide4")
					label(for="slide5")

	section#about
		h3 Вирівський кар'єр

	section#about
		h3 Вирівський кар'єр


	footer
		h6
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem expedita repudiandae nam placeat, iste veritatis vel, quisquam odit unde soluta eligendi sed aut, illum rem fugit labore error ad autem ipsam in minus! Assumenda iusto labore dolore deleniti natus voluptatum repudiandae voluptas, sapiente quo consequatur aliquid aliquam, quos quod! Ab commodi repellendus eaque rerum itaque, corporis quaerat repudiandae quidem provident incidunt accusamus suscipit pariatur mollitia error aliquam nam labore ipsam id sunt, excepturi nobis doloribus tempore vel adipisci dolorem. Expedita quae beatae excepturi, laboriosam nesciunt facere dolorem et vel voluptas sed vitae iure minus aspernatur consequatur perferendis placeat, neque voluptatem architecto assumenda suscipit quas tempore at harum. Voluptas magni illum optio dolorum vitae? Cupiditate incidunt expedita, dolores at voluptatibus in molestiae quibusdam, aliquid vel voluptate sapiente illum, dolor minima mollitia