.f-thumbs__slide.for-image {opacity: 0.3}
.f-thumbs__slide.for-image.is-nav-selected {opacity: 1}
#myCarousel {
	max-width: 1600px;
	margin: 0 auto;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
