
<div class="debug">
  <div>
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>macOS</title>
    <meta charset="utf-8"/>
    <meta content="igor" name="author"/>
    <meta content="Discover the latest trends in men's fashion and style with ASOS. Shop the range of clothes, accessories, shoes, bags and more." name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header>
      <nav><a class="btn logo"><img class="img-svg" src="img/apple-logo.svg"></a>
        <ul>
          <li><a href="https://www.apple.com/ru/mac/">Mac</a></li>
          <li><a href="https://www.apple.com/ru/mac/">iPad</a></li>
          <li><a href="https://www.apple.com/ru/mac/">iPhone</a></li>
          <li><a href="https://www.apple.com/ru/mac/">Watch</a></li>
          <li><a href="https://www.apple.com/ru/mac/">TV</a></li>
          <li><a href="https://www.apple.com/ru/mac/">Music</a></li>
          <li><a href="https://www.apple.com/ru/mac/">Поддержка</a></li>
        </ul><a class="mob-menu btn">
          <div class="btn" href=""><img class="img-svg" src="img/search.svg"></div></a><a class="btn bag" href=""><img class="img-svg" src="img/bag.svg"></a>
      </nav>
    </header>
    <section class="a2" display="none">
      <ul>
        <li></li>
      </ul>
    </section>
    <section class="a1" display="none">
      <ul>
        <li></li>
      </ul>
    </section>
    <section class="extend">
      <ul>
        <li><img src="https://www.apple.com/v/macos/catalina/b/images/overview/developer/new_tools_icon__c3vf3jsna2ky_large.jpg" alt="New tools to build new worlds.">
          <h2>New tools to build new worlds.</h2>
          <p>Если это можно себе представить, значит, это можно создать. ARKit 3 предоставляет новые инструменты для создания потрясающих приложений на крупнейшей в мире платформе дополненной реальности.</p><a src="">Learn more</a>
        </li>
        <li><img src="https://www.apple.com/v/macos/catalina/b/images/overview/developer/sdk_icon__x3hobtnhkcye_large.jpg" alt="Develop for macOS Catalina">
          <h2>Develop for macOS Catalina.</h2>
          <p>SDK Apple даёт разработчикам широчайшие возможности для создания приложений, которые будут работать на Mac, iPhone и iPad.</p><a src="">Learn more about developing for macOS Catalina</a>
        </li>
      </ul>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>