<!DOCTYPE html>
<html>
<head>
	<link href="img/atech-logo16x16.png" rel="icon">
	<title>Atech</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/styles.css" rel="stylesheet" type="text/css" />
	<!--script src="js/jquery-1.5.min.js" type="text/javascript"></script>
	<script src="js/scriptForPersons.js" type="text/javascript"></script-->
</head>
<body>
	<div id="wrapper">
		<header class="widthPage">
			<div id="support-search">
				<ul>
				  <li><img src="svg/adress.svg">West Street, New York, NY 206603</li>
				  <li><img src="svg/mobile.svg">+1-888-555-5555</li>
				  <li><img src="svg/mail.svg">info@atech.com</li>
				</ul>
				<form action="formdata.php" method="POST" name="contactUs">
				  <div>
				  	<input type="input" name="name" value="search...">
				  	<img src="svg/search.svg">
				  </div>
				</form>
			</div>
		  <div id="nav">
			  <ul>
			    <img src="svg/atech-logo62x62.svg">
			    <img src="svg/atech-your-business-universe.svg">
		    </ul>
		    <nav>
				  <ul>
				    <li><a href="">Home</a></li>
				    <li><a href="">About</a></li>
				    <li><a href="">Services</a></li>
				    <li><a href="">Portfolio</a></li>
				    <li><a href="">Blog</a></li>
				    <li><a href="">Shop</a></li>
				    <li><a href="">Contact</a></li>
				  </ul>
				</nav>
		  </div>
		  <div class="separatorWrap">
		  	<div class="separator"></div>
		  	<div class="separator transform180"></div>
		  </div>
		</header>
		<!--_____________________________________________________________-->
		<div id="underHeaderSlider" class="widthPage">
			<div>
				<span>Just awesome & worth to try</span>
			</div>
			<div class="iPhone">
				<div>
					<img src="svg/atech-logo62x62.svg">
					<a href="">Download Now</a>
				</div>
			</div>
		</div>
		<!--_____________________________________________________________-->
		<div class="widthPage color85DADF">
			<ul>
				<li class="arrow"></li>
				<li class="arrow"></li>
				<h2>Great pixel perfect template whiche suites any needs. Some subheader text goes here.</h2>
			</ul>
		</div>
		<!--_____________________________________________________________-->
		<div id="news" class="widthPage white">
			<ul>
				<li>
					<img src="img/forInfo01.png">
					<h3>Atech showcase</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dolornulla, posuere eget blandit vitae, tempor vitae arcu. Praesent adipiscing odio sit amet erat tempor dapibus.</p>
				</li>
				<li>
					<img src="img/forInfo02.png">
					<h3>Compatible with any device</h3>
					<p>Praesent augue lectus, mattis id sodales eget, accumsan a massa.hasellus ante nisi, semper ut convallis sed, accumsan vel elit. Nulla eleifend venenatis odio, non fermentum eros pellentesque nec.</p>
				</li>
				<li>
					<img src="img/forInfo03.png">
					<h3>Quick implementation</h3>
					<p>Suspendisse potenti. Etiam at lectus lectus, eu hendrerit dui. Vestibulum non convallis dui. Nullam semper hendrerit sapien et aliquam. Maecenas mollis mauris sit amet arcu facilisis id faucibus risus adipiscing.</p>
				</li>
			</ul>
		</div>
		<!--_____________________________________________________________-->
		<div id="inNumbers" class="widthPage color85DADF">
			<div><h3 class="atech-h3">Atech in numbers</h3></div>
			<ul>
				<li>
					<h5>download</h5>
					<h6>140k</h6>
				</li>
				<li>
					<h5>spend hours</h5>
					<h6>6718</h6>
				</li>
				<li>
					<h5>countries</h5>
					<h6>106</h6>
				</li>
				<li>
					<h5>loyal clients</h5>
					<h6>239</h6>
				</li>
			</ul>
		</div>
		<!--_____________________________________________________________-->
		<div id="services" class="widthPage white">
			<div class="arrow"></div>
			<div class="arrow"></div>
			<div>
				<h3 class="atech-h3">Available services</h3>
				<div class="indicatorSlider"><div class="indicator"></div></div>
				<ul>
					<li>
						<h4><img src="svg/service/service-1.svg">About us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dolornulla, posuere eget blandit vitae, tempor vitae arcu. Praesent adipiscing odio sit amet erat tempor dapibus.</p>
					</li>
					<li>
						<h4><img src="svg/service/service-2.svg">Fully customizable</h4>
						<p>Suspendisse potenti. Etiam at lectus lectus, augue lectus, mattis id sodales eu hendrerit dui. Vestibulum convallis dui. Nullam semper hendrerit sapien et aliquam. Maecenas mollis mauris sit amet arcu facilisis id faucibus risus adipiscing.</p>
					</li>
					<li>
						<h4><img src="svg/service/service-3.svg">Made with love</h4>
						<p>Praesent augue lectus, mattis id sodales eget, accumsan a massa.hasellus ante nisi, semper ut convallis sed, accumsan vel elit. Nulla eleifend venenatis odio, non fermentum eros pellentesque nec.</p>
					</li>
					<li>
						<h4><img src="svg/service/service-4.svg">Premium-class support</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dolornulla, posuere eget blandit vitae, tempor vitae arcu. Praesent adipiscing odio sit amet erat tempor dapibus.</p>
					</li>
					<li>
						<h4><img src="svg/service/service-5.svg">Table price</h4>
						<p>Praesent augue lectus, mattis id sodales eget, accumsan a massa.hasellus ante nisi, semper ut convallis sed, accumsan vel elit. Nulla eleifend venenatis odio, non fermentum eros pellentesque nec.</p>
					</li>
				</ul>
				<div class="indicatorSlider"><div class="indicator"></div></div>
			</div>
		</div>
		<!--_____________________________________________________________-->
		<div id="inAction" class="widthPage white">
			<div>
				<h3 class="atech-h3">Check Atech in Action</h3>
				<div>
					<ul class="sidebar">
						<li>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
						<li>Laboris nisi ut aliquip ex ea commodo consequat. </li>
						<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
					</ul>
					<ul class="center">
						<li><img src="img/screenVideo.png"></li>
					</ul>
					<ul class="sidebar">
						<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</li>
						<li>Duis aute irure dolor in reprehenderit in voluptate.</li>
						<li>Ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</li>
						<li>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt molpt anim id est laborum.</li>
					</ul>
				</div>
				<div class="indicatorSlider"><div class="indicator"></div></div>
				<div class="article">
					<h5>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
					<p>Donec semper risus quis velit cursus ut volutpat est egestas.Nulla tempus metus eu dui et pulvinar odio malesuada tempus molestie.</p>
					<p>Maecenas vulputate molestie arcu non tristique. Suspendisse auctor odio eu arcu egestas. Pellentesque at elit sem, consequat convallis augue.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
					<a href="">Learn more</a>
				</div>
			</div>
		</div>
		<!--_____________________________________________________________-->
		<footer class="widthPage">
			<div class="separatorWrap"><div class="separator"></div><div class="separator transform180"></div></div>
			<div>
				<q class="tweet">
					<img src="img/peoples/2.png">
					<ul>
						<li>
							<h1>Atech<span>@atech</span></h1>
							<a href=""><img src="svg/twitter.svg">Follow</a>
						</li>
						<li>
							<p>
								Vestibulum tincidunt libero non elit euismod et dictum nibh congue.
								Donec semper risus quis velit cursus ut volutpat est egestas.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								Maecenas vulputate molestie arcu non tristique.
								<a href="">http://instagram.com/gheuirhierv/</a>
							</p>

						</li>
						<li>
							<span>17 July, 2015</span>
							<a href=""><img src="svg/star.svg">Favorite</a>
							<a href=""><img src="svg/retweet.svg">Retweet</a>
							<a href=""><img src="svg/reply.svg">Reply</a>
						</li>
					</ul>
				</q>
				<q class="tweet">
					<img src="img/peoples/20.png">
					<ul>
						<li>
							<h1>Atech<span>@atech</span></h1>
							<a href=""><img src="svg/twitter.svg">Follow</a>
						</li>
						<li>
							<p>
								Donec semper risus quis velit cursus ut volutpat est egestas.
								Maecenas vulputate molestie arcu non tristique.
								Vestibulum tincidunt libero non elit euismod et dictum nibh congue.
								<a href="">http://instagram.com/gheuirhierv/</a>
							</p>

						</li>
						<li>
							<span>15 August, 2015</span>
							<a href=""><img src="svg/star.svg">Favorite</a>
							<a href=""><img src="svg/retweet.svg">Retweet</a>
							<a href=""><img src="svg/reply.svg">Reply</a>
						</li>
					</ul>
				</q>

				<div class="social">
					<ul>
						<h3>Latest from blog:</h3>
						<q>
							<img src="img/q_chart.png">
							<p>Maecenas vulputate molestie arcu auctor odio eu arcu non tristique.<span>July 17, 2015</span></p>
						</q>
						<q>
							<img src="img/q_learn.png">
							<p>Praesent augue lectus, mattis id sodales eget, accumsan a massa.<span>June 22, 2015</span></p>
						</q>
					</ul>
					<ul>
						<h3>Contact info:</h3>
						<li>
							<img src="svg/adress.svg">West Street, New York, NY 206603
						</li>
					  <li>
					  	<img src="svg/mobile.svg">+1-888-555-5555
					  </li>
					  <li>
					  	<img src="svg/mail.svg">info@atech.com
					  </li>
					  <li>
					  	<img src="svg/skype.svg">atech-support
					  </li>
					</ul>
					<ul class="socialIcons">
						<h3>We're social:</h3>
						<img src="svg/social/twitter.svg">
						<img src="svg/social/facebook.svg">
						<img src="svg/social/google+.svg">
						<img src="svg/social/pinterest.svg">
						<img src="svg/social/tumblr.svg">
						<img src="svg/social/youtube.svg">
						<img src="svg/social/vimeo.svg">
						<img src="svg/social/dribble.svg">
						<img src="svg/social/StumbleUpon.svg">
						<img src="svg/social/instagram.svg">
						<img src="svg/social/cloud.svg">
						<img src="svg/social/skype.svg">
					</ul>
				</div>
				<div class="copyright">
					© Atech, 2014, All rights reserved. Done by Olia Gozha.
				</div>
			</div>
		</footer>


	</div>
</body>
</html>