:root {
	--gutter: 15px;
	--minus-gutter: -15px;
	--row-bottom: 40px;
	--list-bottom: -40px;
}

* {

	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	background: rgba(0,0,0,.05);

}
a {
	color: #393939;
	text-decoration: none;
}
h3 {
	opacity: .1;
}
.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 1880px;
	padding: 0 40px;
	margin-top: 30px;
	min-height: 100vh;
}

.plugins {
	/* outline: 1px dashed green; */
	outline: 1px dashed transparent;
}
#plugins-list {
	margin: 0 var(--minus-gutter);
	display: flex;
	/* justify-content: center; */
	flex-wrap: wrap;
	/* flex-direction: row; */
	margin-bottom: var(--list-bottom);

}
.plugins-item {
	min-width: 240px;
	width: 16.6666%;
	margin-bottom: var(--row-bottom);
	/* align-self: stretch; */
	/* outline: .5px dashed red; */
}


.plugins-item-content {
	background: #ffffff;
	box-shadow: 0 20px 20px -15px rgba(0,0,0,.075);
	display: block;
	height: 100%;
	margin: 0 var(--gutter);
	border-radius: 8px;
	overflow: hidden;


}
.plugin-info {
	padding: 12px;
}

.plugin-info p {
	color: #898989;
	margin-top: 12px;
	font-size: 12px;
	margin-bottom: 8px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}


.img_style {
	width: 100%;
	min-height: 100px;
	object-fit: cover;
	max-height: 150px;
}

/* не встановлювати */
/* .x-install */
/* .x-interest */

.filter-frame {
	display: block;
}

.filter {
	padding: 0;
	margin: 0 -10px;
}

.filter-content > div {
	padding: 0 10px;
	outline: 1px salmon solid;
	margin: 0;
	display: table-cell;
}

.filter-content > div::after {
	margin: 0 10px;
}


#search-input {
	font-size: 20px;
	padding: 5px 20px;
	margin: 0;
	border: none;
	height: 40px;
	line-height: 40px;

}
#search-input:focus{
	border: none;
	outline: none;
}
.headbar {
	display: flex;
	width: 100%;
	margin: 60px auto;
	border: 1px solid red;
}
.headbar input {
	margin: -10px 0 auto;
	/* flex: 1; */
}