html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

a, button {
  cursor: pointer; }

a {
  text-decoration: none; }

button {
  border: 0;
  padding: 0;
  outline: 0; }

h2 {
  line-height: 112%;
  font-size: 2.5rem;
  letter-spacing: -0.015em;
  font-weight: bold;
  padding-bottom: 2rem; }
  @media screen and (max-width: 600px) {
    h2 {
      padding-bottom: 1rem;
      font-size: 1.75rem; } }

p, a {
  line-height: 136%;
  letter-spacing: -.1; }

a.detail {
  color: #66BBFF;
  margin-top: 1.5rem;
  display: table;
  margin-right: 100px; }
  a.detail::after {
    background: url("../img/arrow.svg") no-repeat center center;
    content: "";
    padding-left: 2rem;
    display: inline-cell;
    vertical-align: bottom; }
  a.detail:hover {
    color: #5D92F3;
    transition: color .2s ease-out; }

.extend {
  background: #202224;
  padding-top: 2rem; }
  .extend img {
    height: 5rem;
    margin-bottom: 2rem; }
    @media screen and (max-width: 600px) {
      .extend img {
        margin-bottom: 1rem; } }
  .extend h2 {
    color: white; }
  .extend p {
    font-size: 17px;
    color: #E7E7E7; }
  .extend ul {
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 980px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px; }
    @media screen and (max-width: 600px) {
      .extend ul {
        padding-top: 3rem;
        padding-bottom: 3rem; } }
  .extend li {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(41.66667% - 0px);
    margin-right: calc(8.33333% + 0px); }
    @media screen and (max-width: 960px) {
      .extend li {
        width: calc(100% - 0px); } }
    @media screen and (max-width: 960px) {
      .extend li {
        margin-left: calc(4.16667% + 0px); } }
    @media screen and (max-width: 960px) {
      .extend li {
        margin-right: calc(4.16667% + 0px); } }
    @media screen and (max-width: 960px) {
      .extend li {
        margin-top: 4rem; } }
    @media screen and (max-width: 600px) {
      .extend li {
        width: calc(100% - 0px); } }
    @media screen and (max-width: 600px) {
      .extend li + li {
        margin-top: 3rem; } }

h1 {
  color: white;
  font-size: 4rem;
  font-weight: 600; }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem; } }

.about {
  margin-top: -5.5rem;
  padding-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  background: #000;
  color: #63636e;
  font-size: 21px; }
  .about h1 {
    background: linear-gradient(to right, #4f3ec8, #9a74ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .about > div {
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(83.33333% - 0px);
    max-width: 980px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px; }
    .about > div > * + * {
      margin-top: 1rem; }
    @media screen and (max-width: 960px) {
      .about > div {
        width: calc(83.33333% - 0px); } }
  .about h3 {
    font-weight: 600;
    font-size: 37px;
    color: #f2f2ff;
    opacity: .3; }
  .about a, .about p {
    margin-top: 2rem; }

a {
  cursor: pointer; }
  a:hover {
    color: red; }

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
  opacity: .2; }
  .debug > div {
    height: inherit;
    max-width: 980px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px; }
    .debug > div > div {
      height: inherit;
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;
      margin-right: 0px; }
      .debug > div > div > div {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 0px;
        margin-right: 0px;
        width: calc(8.33333% - 0px);
        height: inherit;
        outline: blue 1px solid;
        background: rgba(0, 0, 0, 0.3); }

html {
  font: 16px "SF Pro Display", sans-serif; }

body {
  min-height: 2500px;
  position: relative;
  background: rgba(23, 23, 28, 0.7); }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.1);
  font-size: .875rem;
  backdrop-filter: blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }
  header input#menu-toggle {
    display: none; }
    @media screen and (max-width: 600px) {
      header input#menu-toggle:checked + ul {
        padding: 20px;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        top: 0;
        margin-top: 5.5rem;
        position: absolute;
        background: #262626;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px; } }
  header a {
    display: block;
    color: inherit; }
    header a:hover {
      color: rgba(231, 231, 231, 0.75);
      transition: color .4s ease-out; }

nav {
  justify-content: space-between;
  height: 3.85rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 980px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px; }
  @media screen and (max-width: 600px) {
    nav {
      height: 2.75rem;
      height: 5.5rem; } }
  nav > * {
    text-align: center;
    align-self: center; }
  nav ul {
    flex: 1;
    justify-content: space-around;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto; }
    @media screen and (max-width: 960px) {
      nav ul {
        padding-left: 0rem;
        padding-right: 0rem; } }
    @media screen and (max-width: 600px) {
      nav ul {
        display: none; } }
  nav li a {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.91667rem;
    padding-bottom: 0.91667rem; }
    @media screen and (max-width: 960px) {
      nav li a {
        padding-left: 0.5rem;
        padding-right: 0.5rem; } }
  nav a.btn {
    width: 2.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }

.mob-menu {
  background: red; }
  @media screen and (max-width: 600px) {
    .mob-menu .btn {
      display: none; } }

.logo {
  order: 0; }
  @media screen and (max-width: 600px) {
    .logo {
      order: 1; } }

.bag {
  order: 5; }

.separator {
  width: 100%;
  background: white;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .separator div {
    border-radius: 10px;
    box-shadow: 0 20px 15px -10px rgba(94, 122, 172, 0.3);
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    height: 200px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 55%), linear-gradient(170deg, #D8ECFF -10%, rgba(234, 245, 255, 0) 90%), linear-gradient(240deg, #EBFFF2 -5%, rgba(248, 254, 251, 0) 80%); }
