/*.switch {
  height: 30px;
  width: 30px;
  border:1px solid;
  float: left;
  cursor: pointer;
  text-decoration: underline;
}
.gDisk {
background: -moz-radial-gradient(
    50%  50%, circle closest-side,
    rgba(66,167,0,1) 0%,
    rgba(66,167,0,1) 50%,
    rgba(2,111,0,1) 50%,
    rgba(2,111,0,1) 59%,
    transparent 60%
  );
}
.rDisk {
background: -moz-radial-gradient(
    50%  50%, circle closest-side,
    rgba(66,167,0,0.5) 0%,
    rgba(66,167,0,0.5) 50%,
    rgba(2,111,0,0.5) 50%,
    rgba(2,111,0,0.5) 59%,
    transparent 60%
  );
}

.switch > :nth-child(n):hover{
  cursor: pointer;
}
.switch > :nth-child(n){
  display: block;
  height: 20px;
  width: 20px;
}
.switchShow {
  background: green;
}
.switchHide {
  background: red;
}
*/