@import url(reset.css);
@import url(all.css);

@import url(header.css);
@import url(search.css);
@import url(header.css);
@import url(slider.css);
@import url(main-container.css);
@import url(footer.css);

@import url(../js/accordion.css);
@import url(../js/widget.css);

.visible    { visibility: visible;}
.dntVisible { visibility: hidden;}
body {
  background: rgba(233,233,233,1);
  font-family: Segoe UI;
}
#wrapper {
  margin: 0 auto;
}
#logoOpenMint {
  background: url(../svg/logo.svg);
  top: 21px;
  height: 89px;
  left: 15px;
  position: absolute;
  width: 324px;
}
#slider, footer{
  background:rgba(0,68,115,1);
  background: -moz-radial-gradient(40% 35%,
    rgba(0,90,141,0.85) 1%,
    rgba(0,76,125,1) 80%,
    rgba(0,61,104,1)
  );
  background: -webkit-radial-gradient(40% 35%,
    rgba(0,90,141,0.85) 1%,
    rgba(0,76,125,1) 80%,
    rgba(0,61,104,1)
  );
  background: radial-gradient(40% 35%,
    rgba(0,90,141,0.85) 1%,
    rgba(0,76,125,1) 80%,
    rgba(0,61,104,1)
  );
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}