<!DOCTYPE html>
<html>
<head>
	<link href="img/carmineLogoMini.png" rel="icon">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Blog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="css/0.reset.css" rel="stylesheet" type="text/css" />
	<link href="css/screen320.css" rel="stylesheet" type="text/css" />
	<link href="css/screen321.css" rel="stylesheet" type="text/css" />
	<link href="css/screen560.css" rel="stylesheet" type="text/css" />
	<link href="css/screen561.css" rel="stylesheet" type="text/css" />
	<link href="css/screen767.css" rel="stylesheet" type="text/css" />
	<link href="css/screen768.css" rel="stylesheet" type="text/css" />
	<link href="css/screen991.css" rel="stylesheet" type="text/css" />
	<link href="css/screen992.css" rel="stylesheet" type="text/css" />
	<link href="css/screen1199.css" rel="stylesheet" type="text/css" />
	<link href="css/screen1200.css" rel="stylesheet" type="text/css" />
	<link href="css/styles.css" rel="stylesheet" type="text/css" />
<!--core--><script src="js/jquery.js" type="text/javascript"></script>
<!--UsIn--><script src="js/jquery-ui-1.8.4.custom.min.js" type="text/javascript"></script>
<!--myJS--><script src="js/nav.js" type="text/javascript"></script>

</head>
<body>
	<div class="linearGradient16px"></div>
	<header class="complexBack">
		<nav>
			<div>
				<a href="index.html">carmine<em>+</em></a>
			</div>
			<button type="button"></button>
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="">full width</a></li>
				<li><a href="">archives</a></li>
				<li><a href="portfolio.html">portfolio</a></li>
				<li><a href="blog.html">blog</a><em></em></li>
				<li><a href="">contact</a></li>
			</ul>
		</nav>
	</header>

	<div class="pattern4x4"></div>

	<div id="mainContainer">
		<div id="wrapper">
			<div class="posts">
				<h2>International Meeting of Styles: The Dreaming Griffin</h2>
				<div class="greyTransparent28px"></div>
				<ul>
					<li><img src="svg/person.svg" alt=""><i></i>Huseyin Emanet</li>
					<li><img src="svg/time.svg" alt=""><i>2</i>Days Ago</li>
					<li><img src="svg/talk.svg" alt=""><i>8</i>Comment</li>
					<li><img src="svg/view.svg" alt=""><i>330</i>Views</li>
				</ul>
				<div>
					<img src="img/postImg.png" alt="">
					<p>
						One morning, when <strong>Gregor Samsa</strong> woke from troubled dreams, he
						found himself transformed in his bed into a horrible vermin. He lay on his
						armour-like back, and if he lifted his head a little he could see his brown
						belly, slightly domed and divided by arches into stiff sections.
					</p>
					<p>
						The bedding was hardly able to cover it and seemed ready to slide off
						any moment. His many legs, pitifully thin compared with the size of the
						rest of him, waved about helplessly as he looked. <strong>"What's happened to
						me?"</strong> he thought. It wasn't a dream.
					</p>
					<a href="">Continue Reading</a>
					<em></em>
				</div>
				<h2>Robocaps: Robots crafted with salvaged spraycan pieces!</h2>
				<div class="greyTransparent28px"></div>
				<ul>
					<li><img src="svg/person.svg" alt=""><i></i>Huseyin Emanet</li>
					<li><img src="svg/time.svg" alt=""><i>2</i>Days Ago</li>
					<li><img src="svg/talk.svg" alt=""><i>8</i>Comment</li>
					<li><img src="svg/view.svg" alt=""><i>330</i>Views</li>
				</ul>
				<div>
					<img src="img/postImg.png" alt="">
					<p>
						If I didn't have my parents to think about I'd have given in my notice a
						long time ago, I'd have gone up to the boss and told him just what I
						think, tell him everything I would, let him know just what I feel. He'd fall
						right off his desk! And it's a funny sort of business to be sitting up there
						at your desk, talking down at your subordinates from up there, especially
						when you have to go right up close because the boss is hard of hearing.
					</p>
					<p>
						Well, there's still some hope; once I've got the money together to pay off
						my parents' debt to him - another five or six years I suppose - that's
						definitely what I'll do. That's when I'll make the big change. First of all
						though, I've got to get up, my train leaves at five. " And he looked over at
						the alarm clock, ticking on the chest of drawers. "God in Heaven! " he
						thought. It was half past six and the hands were quietly moving forwards,
						it was even later than half past, more like quarter to seven. Had the alarm
						clock not rung?
					</p>
					<a href="">Continue Reading</a>
					<em></em>
				</div>
				<h2>Sensation of death: An ironic piece on alcoholic tables in bars</h2>
				<div class="greyTransparent28px"></div>
				<ul>
					<li><img src="svg/person.svg" alt=""><i></i>Huseyin Emanet</li>
					<li><img src="svg/time.svg" alt=""><i>2</i>Days Ago</li>
					<li><img src="svg/talk.svg" alt=""><i>8</i>Comment</li>
					<li><img src="svg/view.svg" alt=""><i>330</i>Views</li>
				</ul>
				<div>
					<img src="img/postImg.png" alt="">
					<p>
						And it's a funny sort of business to be sitting up there at your desk,
						talking down at your subordinates from up there, especially when you
						have to go right up close because the boss is hard of hearing.
					</p>
					<p>
						Well, there's still some hope; once I've got the money together to pay off
						my parents' debt to him - another five or six years I suppose - that's
						definitely what I'll do.
					</p>
					<p>
						That's when I'll make the big change. First of all though, I've got to get
						up, my train leaves at five. <strong>"And he looked over at the alarm clock,
						ticking on the chest of drawers. God in Heaven!"</strong> he thought.
					</p>
					<p>
						It was half past six and the hands were quietly moving forwards, it was
						even later than half past, more like quarter to seven.
					</p>
					<a href="">Continue Reading</a>
					<em></em>

					<div class="pagination">
						<a href="">Previous</a>
						<button>1</button>
						<button>2</button>
						<button>3</button>
						<button>4</button>
						<button>5</button>
						<button>6</button>
						<button>7</button>
						<button>8</button>
						<button>...</button>
						<a href="">Next</a>
					</div>
				</div>
			</div>
			<aside>
				<h3>About This Site</h3>
				<p>
					<img src="img/face.png"/>
					The next train went at seven; if he were to catch that he would have to rush like mad and the collection of samples was still not packed...
				</p>
				<em></em>

				<h3>Social Media</h3>
				<div class="social">
					<label for=""><button class="tweet"><img src="svg/social/twitter.svg" alt="">Tweet</button><i>2,995</i></label>
					<label for=""><button class="googlePlus"><img src="svg/social/g+.svg" alt="">+1</button><i>216</i></label>
					<label for=""><button class="facebook"><img src="svg/social/facebook.svg" alt="">Like</button><i>2k</i></label>
				</div>
				<em></em>

				<h3>Search Inside</h3>
				<form action="formdata.php" method="POST" name="formSearch">
					<input type="text" placeholder="Search ..." name="inputSearch">
					<select name="selectSearch">
						<option>Entire Site</option>
						<option>Entire Blog</option>
						<option>in Google</option>
					</select>
					<input type="button" name="buttonSearch" value="">
				</form>
				<em></em>

				<h3>Categories</h3>
				<blockquote>
					<input type="button" name="cat_Blog" value="Blog"><i>2</i>
				</blockquote>
				<blockquote>
					<input type="button" name="cat_WP" value="WordPress"><i>4</i>
				</blockquote>
				<blockquote>
					<input type="button" name="cat_CSS" value="CSS"><i>3</i>
				</blockquote>
				<blockquote>
					<input type="button" name="cat_PHP" value="PHP" class="activeBlock"><b>41</b>
					<a href="">Bir Blog Scripti Yazma<b>16</b></a>
					<a hre	f="">cURL Dersleri<b>7</b></a>
					<a href="">Codelgniter Dersleri<b>8</b></a>
				</blockquote>
				<em></em>

				<h3>Twitter Widget</h3>

				<article>
				<p>What a wonderful life for as long as you've been at my side...</p>
				<i>1 day ago</i>
				<em></em>

				<p><a href="">@arslania</a>, <a href="">@eesates</a> Bizim kitabımızda "vazgeçmek" diye bişey yok...</p>
				<i>2 days ago</i>
				<em></em>
				</article>

				<h3>Video Widget</h3>
				<img src="img/videoPlayer.png">
				<em></em>

				<h3>Flickr Widget</h3>
				<img src="img/flickr-01.png" alt="">
				<img src="img/flickr-02.png" alt="">
				<img src="img/flickr-03.png" alt="">
				<img src="img/flickr-04.png" alt="">
				<img src="img/flickr-05.png" alt="">
				<img src="img/flickr-06.png" alt="">
				<img src="img/flickr-07.png" alt="">
				<img src="img/flickr-08.png" alt="">
				<em class="clear"></em>
			</aside>
		</div>
	</div>
	<div class="linearGradient16px"></div>

	<footer class="complexBack">
		<div>
			<article>
				<h4>About Carmine</h4>
				<img src="img/face.png"/>
				<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p><br/>
				<p>He must have tried it a hundred times, shut his eyes so that he wouldn t have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before. "Oh, God", he thought, "What a strenuous career it is that I've chosen!“ Travelling day in and day out.</p>
			</article>
			<form action="formdata.php" method="POST" name="contactUs">
				<h4>Contact Us</h4>
				<input type="text" name="name" placeholder="Your name..."></input>
				<input type="mail" name="email" placeholder="Your email..."></input>
				<textarea placeholder="Your massage..."></textarea>

					<input type="submit" name="submit" value="Send message"></input>
					<input type="reset" name="reset" value="Clear"></input>
			</form>
		</div>
		<nav>
			<div><a href="index.html">carmine<em>+</em></a></div>
			<ul>
				<li><a href="">home</a></li>
				<li><a href="">full width</a></li>
				<li><a href="">archives</a></li>
				<li><a href="">portfolio</a></li>
				<li><a href="">blog</a></li>
				<li><a href="">contact</a></li>
			</ul>
			<br/>
			<p>TÜM HAKLARI SAKLIDIR © 2011 - 2012 PROTOTURK</p>
		</nav>
	</footer>
</body>
</html>