.first-line
	p
		i
			include ../img/svg/place.svg
		a(href="#map") с. Гранітне, вул. Заводська, 15
	p.phones
		i
			include ../img/svg/phone.svg
		em Загальний
		a(href="#phone1") +38 (0362) 67-04-00
		em Відділ продажу
		a(href="#phone2") +38 (0362) 67-04-09
		em Відділ закупівель
		a(href="#phone3") +38 (0362) 67-04-08
		em
	p
		i
			include ../img/svg/letter.svg
		a(href="#mail") office@basalt-ag.com.ua
	p.lang
		select
			option DE
			option EN
			option RU
			option(selected) UA