header
	a.logotype(href="/")
		img(src="img/png/bag-logo.png")
	nav
		a(href="/" class="") Головна
		a(href="/") Про компанію
			ul
				li
					a(href="/") Про нас
				li
					a(href="/") Історія
				li
					a(href="/") Керівництво
		a(href="/") Продукція
		a(href="/") Технологія виробництва
		a(href="/") Контакти
			//.details
			//	a(href="/") Про нас
			//	a(href="/") Історія
			//	a(href="/") Керівництво