header
	a.logotype(href="/")
		img(src="img/png/bag-logo.png")
	nav
		a(href="/") Головна
		input(type="checkbox" name="about" id="about")
		label(for="about") Про компанію
			ul
				a(href="/") Про нас
				a(href="/") Історія
				a(href="/") Керівництво
		a(href="/") Продукція
		a(href="/") Технологія виробництва
		a(href="/") Контакти