#slider
	input(type="radio" name="slides" id="slide1" checked autofocus)
	input(type="radio" name="slides" id="slide2")
	input(type="radio" name="slides" id="slide3")
	input(type="radio" name="slides" id="slide4")
	input(type="radio" name="slides" id="slide5")
	.bg-img
		label(for="slide1")
		label(for="slide2")
		label(for="slide3")
		label(for="slide4")
		label(for="slide5")
	.content
		.desc
			label(for="slide1")
				h4 This is a first header of theme
				p
				| Запаси Вирівського родовища складають 
				span більше&nbsp47&nbspмлн.&nbspм³. 
				| Lorem ipsum dolor sit amet, consectetur adipisicing, sit 

			label(for="slide2")
				h4 This is a second header of theme
				p Lorem ipsum dolor sit amet, consectetur adipisicing, sit amet, consectetur adipisicing elit. Fuga necessitatibus ab quaerat iure sint nostrum.
			label(for="slide3")
				h4 This is a third header
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
			label(for="slide4")
				h4 This is a fourth
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
			label(for="slide5")
				h4 This is a fivth
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
			.side-controls
				label(for="slide1")
				label(for="slide2")
				label(for="slide3")
				label(for="slide4")
				label(for="slide5")
			.controls
				label(for="slide1")
				label(for="slide2")
				label(for="slide3")
				label(for="slide4")
				label(for="slide5")