doctype html
html(lang='en') 
	//html(lang=en_EN)
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='author', content='')
		meta(name='description', content='')
		meta(name="viewport" content="width-device-width, initial-scale=1.0")
		link(rel='shortcut icon', href='img/png/bag-logo16.png')
		title Головна — BAG
		link(rel="stylesheet" type='text/css' href="css/styles.css")
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE9 [if lt IE9] >
body
	#visual-grid-cols
		.div1
			i
		.div2
			i
		.div3
			i
		.div4
			i
		.div5
			i
		.div6
			i
		.div7
			i
		.div8
			i
		.div9
			i
		.div10
			i
		.div11
			i
		.div12
			i

	include _first-line
	include _header
	include _slider

	section#about
		h3 Вирівський кар'єр

	footer
		h6
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem expedita repudiandae nam placeat, iste veritatis vel, quisquam odit unde soluta eligendi sed aut, illum rem fugit labore error ad autem ipsam in minus! Assumenda iusto labore dolore deleniti natus voluptatum repudiandae voluptas, sapiente quo consequatur aliquid aliquam, quos quod! Ab commodi repellendus eaque rerum itaque, corporis quaerat repudiandae quidem provident incidunt accusamus suscipit pariatur mollitia error aliquam nam labore ipsam id sunt, excepturi nobis doloribus tempore vel adipisci dolorem. Expedita quae beatae excepturi, laboriosam nesciunt facere dolorem et vel voluptas sed vitae iure minus aspernatur consequatur perferendis placeat, neque voluptatem architecto assumenda suscipit quas tempore at harum. Voluptas magni illum optio dolorum vitae? Cupiditate incidunt expedita, dolores at voluptatibus in molestiae quibusdam, aliquid vel voluptate sapiente illum, dolor minima mollitia