header
	a.logotype(href="/")
		img(src="img/png/bag-logo.png")
	nav
		a(href="/") Головна
			//li element 1
			//li element 2
			//li element 3

		a(href="/") Про компанію
		a(href="/") Продукція
		a(href="/") Технологія виробництва
		a(href="/") Контакти