<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <meta content="igor" name="author"/>
    <meta content="" name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <p>131Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusantium soluta sunt, quasi veniam tempore suscipit, tempora laudantium ad pariatur incidunt iure inventore corrupti dignissimos repellat deserunt et, laboriosam libero?</p>
</html>