body {
  background: rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  padding: 20px 10%;
  font-weight: 100;
  line-height: 1.5;
  height: 300vh; }

body {
  color: red; }

a {
  margin-right: 0px; }
