.tagline {
	background: url(../img/mainBg.png) no-repeat center top;
	color: white;
	margin-bottom: 33px;
	padding: 150px 53px 50px;
}
.tagline h1 {
	font-size: 46.5px;
	font-weight: 700;
	padding: 2px 0 15px 0; 
	word-spacing: 1px;
	letter-spacing: 0.9px
}
.tagline p {
	letter-spacing: .25px;
	word-spacing: -1px;
	line-height: 1.35;
	font-size: 18px;
	padding: 0 190px 19px 0;
}
.tagline form {
	margin-left: 4px;
}
.tagline a {
	font-size: 15px;
	color: white;
	background: #E8930C;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid #D08000;
	box-sizing: border-box;
	padding: 14px 37.5px 14px 44px;
	display: table;
	letter-spacing: 0.4px;
	word-spacing: 0px;
}
.tagline a:hover {
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}