<!DOCTYPE html>
<html>
<head>
  <link href="img/logo-mini.png" rel="icon">
  <title>OpenMint. SimplyField Solution</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--meta name="description" content="" />
  <meta name="keywords" content=""
  mouse
   /-->
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
  <script src="js/jquery.js" type="text/javascript"></script>
  <!--script src="js/core.js" type="text/javascript"></script-->
  <script src="js/widget.js" type="text/javascript"></script>
  <script src="js/accordion.js" type="text/javascript"></script>
  <script src="js/allScripts.js" type="text/javascript"></script>

</head>
<body>
<div id="wrapper">
  <header>
    <div id="logoOpenMint"></div>

    <ul id="search">
      <li><p>Search this website</p></li>
      <li><input value="search..."></li>
      <li><a class="aGreen" href="">search</a></li>
    </ul>

    <nav class="LGGreyWhite">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">The Orgnization</a></li>
        <li><a href="">Our Operations</a></li>
        <li><a href="">News&events</a></li>
        <li><a href="">Sponsors</a></li>
        <li><a href="">Community</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <div id="slider">
      <ul>
        <a href="" class="pre"><img src="svg/pre.svg"></a>
        <a href="" class="next"><img src="svg/pre.svg"></a>
        <li>
          <div>bass kicking</div>
          <div>got a whole new level</div>
          <div>Any similarity between you and a human is purely coincidental!</div>
          <div>
            <a href="">try it free</a>
            <p>or</p>
            <a href="">subscribe</a>
          </div>
        </li>

        <li>
          <img src="img/macPC.png" width="292px">
        </li>
      </ul>
  </div>



  <div id="main">
      <div class="about b5 LGGreyWhite">
          <ul class="w60">
            <ul>
              <h1>Do you know Who is John Rambo?</h1>
              <h2>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos dolores aliqua<!--. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
              </h2>
            </ul>
            <ul>

              <li>
                <img src="img/logo-mini.png" >
                <h3>Recognizing The Talent</h3>
                <h5>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<!--, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                </h5>
              </li>
              <li>
                <img src="img/logo-mini.png" >
                <h3>Finding Sponsors</h3>
                <h5>
                  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <!--Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                </h5>
              </li>
              <li>
                <img src="img/logo-mini.png" >
                <h3>Creating Oppurtunities</h3>
                <h5>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <!--Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                </h5>

              </li>
              <li>
                <img src="img/logo-mini.png" >
                <h3>Community Support</h3>
                <h5>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h5>
              </li>
            </ul>
          </ul>

          <ul class="verticalSeparator">
          </ul>

          <ul class="w38">
              <ul>
                <h1>WE knocked em'll</h1>
                <li><img src="img/8.png"></li>
                <li><img src="img/puma.png"></li>
                <li><img src="img/adidas.png"></li>
                <li><img src="img/swatch.png"></li>
              </ul>
          </ul>
      </div>

      <div class="blog-twit">
          <ul class="w60 b5 LGGreyWhite">
            <h1>
                from the blog
                <a class="aGreen bRL4px bRR4px" href="">visit our blog</a>
            </h1>
            <!-- accordion BEGIN-->

            <div id="accordion">
              <h4>
                <a href="">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                </a>
              </h4>
              <div>
                <img src="img/construct.png">

                <p>
                  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>

              <h4>
                <a href="">
                  Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
              </h4>
              <div>
                <img src="img/construct.png">
                <p>
                  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>

              <h4>
                <a href="">
                  Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </a>
              </h4>
              <div>
                <img src="img/construct.png">
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <!-- accordion END-->

          </ul>

          <ul class="w2">
          </ul>

          <ul class="twitter w38 b5 LGGreyWhite">
            <h1>
                twitter
                <a class="aGreen bRL4px bRR4px" href="">follow us</a>
            </h1>

            <p>
              <span>Live from Apple's iPhone OS 4 event! - Engadget</span>
              <a href="">http://goo.gl/eJVm</a>
              <em>about 1 hour ago reply</em>
            </p>

            <p>
              <span>Reading '50 New Free High-Quality Icon Sets (with Easter Icons!)'</span>
              <a href="">http://goo.gl/eJVm</a>
              <em>about 1 hour ago reply</em>
            </p>

            <p>
              <span>Photoshop tutorial – creating green grass</span>
              <a href="">http://goo.gl/eJVm</a>
              <em>about 1 hour ago reply</em>
            </p>

            <p>
              <span>Blogger template: Coffee Break</span>
              <a href="">http://goo.gl/eJVm</a>
              <em>about 1 hour ago reply</em>
            </p>

          </ul>
      </div>
  </div>


  <footer>
    <div>
<!--alliancePartners-->
      <div class="LGGreyWhite b5">
        <h1><span>alliance&partners</span></h1>
        <ul>
          <li><a href=""><img src="img/alliance/magento.png"></a></li>
          <li><a href=""><img src="img/alliance/makeAWish.png"></a></li>
          <li><a href=""><img src="img/alliance/hulu.png"></a></li>
          <li><a href=""><img src="img/alliance/cocaCola.png"></a></li>
          <li><a href=""><img src="img/alliance/flickr.png"></a></li>
          <li><a href=""><img src="img/alliance/technorati.png"></a></li>
          <li><a href=""><img src="img/alliance/veriSign.png"></a></li>
        </ul>
      </div>

      <ul class="forLogin">
        <li><a href=""><img src="img/logo-mini.png"><b>client login</b></a></li>
        <li><a href=""><img src="img/logo-mini.png"><b>member login</b></a></li>
      </ul>

      <ul class="forPolicy">
        <li><a href="">   <b>Terms of Services</b>  </a></li>
        <li><a href="">   <b>Privacy Policy</b>     </a></li>
      </ul>

      <div class="clear"></div>

      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">The Orgnization</a></li>
          <li><a href="">Our Operations</a></li>
          <li><a href="">News&events</a></li>
          <li><a href="">Sponsors</a></li>
          <li><a href="">Community</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </nav>

      <h4>Copyright 2010. All Rights Reserved. VIVROCKS.com</h4>


    </div>

  </footer>

</div>
</body>
</html>
<!--

client logins
member login